body {
    height: 100%;
    width: 100%;
    background: url("../images/image1.jpg") no-repeat fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login {
    margin-top: 175px;
    margin-left: 285px;

}

img {
    max-width: 100%;
    max-height: 100%;
}