#user-table th,
td {
    display: inline-block;
    width: 16.575%;
    
}

#itinerary-table th,
td {
    display: inline-block;
    width: 16.575%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}


body {
background:url("../images/background.jpg") no-repeat center center fixed;
background-size: cover;
}

.jumbotron {
    font-family: 'Poiret One', cursive;
    padding-bottom: 5px;
    padding-top: 5px;
    
 }

h1 {
    font-size: 80px;
    font-weight: bold;
 }

 h3 {
     font-size: 50px;
 }

 .btn {
    font-family: 'Poiret One', cursive;
    font-size: 16px;
    background-color: rgb(38, 38, 255);
    color: white;
    font-weight: bold;
 }