#user-table th,
td {
    display: inline-block;
    width: 16.575%;
}

#itinerary-table th,
td {
    display: inline-block;
    width: 16.575%;
}

.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}

.note {
    font-size: .8em;
}

.jumbotron {
    margin-top: 10px;
}